<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4249365726191634~3701810203" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TLActivity"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.storksking.trafficlamps.MainActivity" />
        </activity>


        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".TLActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.storksking.trafficlamps.TLActivity" />
        </activity>

        <activity
            android:name=".WActivity"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.storksking.trafficlamps.MainActivity" />
        </activity>

        <activity
            android:name=".WSettingsActivity"
            android:parentActivityName=".WActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.storksking.trafficlamps.WActivity" />
        </activity>

        <activity
            android:name=".RLActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.storksking.trafficlamps.MainActivity" />
        </activity>
    </application>

</manifest>